@import "../../../styles/colors.scss";

.native-japanese-writing {
  position: fixed;
  background-color: $base2;
  color: $base02;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  h1,
  h2 {
    margin: 0;
    padding: 1rem;
    text-align: center;
    border-bottom: 3px solid $yellow;
    background-color: $base3;
    z-index: 1;
  }

  & > button {
    color: $base00;
    border: 3px solid $yellow;
    background-color: $base3;
    width: 1cm;
    height: 1cm;
    margin: auto;
    margin-top: -0.5cm;
    margin-bottom: -0.5cm;
    z-index: 2;

    &.show-native {
      margin-top: 0;
      margin-bottom: -1cm;

      &:before {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        border-bottom: 3px solid $yellow;
      }
    }
  }

  & > .controls {
    width: 100vw;
    height: 2cm;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $base3;

    button {
      width: 100%;
      height: 100%;
      border: none;
      padding: 0.15cm;
      background-color: transparent;

      svg {
        width: 100%;
        height: 100%;
      }

      &.check {
        color: $yellow;
        border-top: 3px solid $yellow;
      }

      &.fail {
        color: $red;
        border-top: 3px solid $red;
      }

      &.hard {
        color: $orange;
        border-top: 3px solid $orange;
      }

      &.good {
        color: $green;
        border-top: 3px solid $green;
      }

      &.easy {
        color: $blue;
        border-top: 3px solid $blue;
      }
    }
  }
}
