<div class="card native-japanese-writing">
  <div class="solution">{{card.native}}</div>
  <div class="canvas-wrapper" 
    #canvasWrapper
    (scroll)="onScroll($event)">
    <canvas #canvas 
      (mousemove)="mousemove($event)"
      (touchmove)="touchmove($event)"
      (mouseleave)="endPath($event)"
      (touchend)="endPath($event)"
    ></canvas>
  </div>
  <div class="controls">
    <button class="fail" (click)="fail()"><fa-icon [icon]="faTimes"></fa-icon></button>
    <button *ngIf="!allVisible" class="check" (click)="check()"><fa-icon [icon]="faArrowRight"></fa-icon></button>
    <button *ngIf="allVisible" class="succeed" (click)="succeed()"><fa-icon [icon]="faCheck"></fa-icon></button>
  </div>
</div>