<div class="manage-note">
  <button *ngIf="collapsed && !deleted" class="collapsed" (click)="expand()">
    <p>{{note.japanese}}</p>
    <p>{{note.native}}</p>
  </button>
  <div *ngIf="!collapsed && !deleted" class="expanded">
    <button (click)="delete()"><fa-icon [icon]="faTrash"></fa-icon></button>
    <button (click)="collapse()"><fa-icon [icon]="faTimes"></fa-icon></button>
    <input [value]="note.japanese" (input)="updateJapanese($event)" type="text" />
    <input [value]="note.japanesePronunciation" (input)="updateJapanesePronunciation($event)" type="text" />
    <input [value]="note.native" (input)="updateNative($event)" type="text" />
  </div>
  <div *ngIf="deleted" class="deleted">
    Poof!
  </div>
</div>
