@import '../../../styles/colors.scss';

.character {
  .svg-wrapper {
    svg.acjk path[clip-path] {
      stroke: $base01;
    }

    svg.acjk path[id] {
      fill: $base1;
    }

    &.done {
      svg.acjk path[clip-path] {
        stroke-dashoffset: 0;
      }
    }
  }

  .controls {
    position: relative;
  }
}
