@import '../../../styles/colors.scss';

.settings {
  background: $base2;
  min-height: 100%;
  overflow: auto;
  padding: 0 1rem;
  color: $base02;

  h3 {
    margin: 1rem 0 0.5rem 0;
  }

  input[type=text] {
    background-color: $base3;
    color: $base02;
    border: 1px solid $blue;
    width: 100%;
  }
}